@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Inter', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    background: #FFFAFF;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}